/* desktop-styling-start */
@include large {
  .hero {
    height: 670px;
    text-align: center;
    background-image: url("../assets/Images/Hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__image {
      height: 670px;
      background-color: rgba($black, 0.5);
      padding: 0 1rem 0 1rem;
    }
    &__text-container {
      height: 670px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &__title {
      font-family: Inter;
      color: white;
      font-weight: 800;
      text-align: center;
      margin: 0;
    }
    &__subtitle {
      font-family: Inter;
      color: white;
      font-weight: 500;
      text-align: center;
      margin: 0;
    }
    &__subtitle-one {
      font-family: Inter;
      color: white;
      font-weight: 500;
      text-align: center;
      margin: 0;
    }

    &__btn-topic {
      background-color: transparent;
      // background-color: black;
      padding: 12px;
      width: 160px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px;
      color: rgb(255, 255, 255);
      font-weight: 600;
      border-radius: 16px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(255, 255, 255);
      // border-image: initial;
      // transition: all 0.15s linear 0s;
    }
  }
}
/* desktop-styling-end */
