/* mobile-styling-start */
.main {
  margin: 1rem;
  &__main-title {
    text-align: center;
    font-family: Inter;
    font-weight: 600;
  }
  &__main-container {
    display: flex;
  }
  &__person-one {
  }
  &__image-person {
  }
}
/* mobile-styling-end */
