.header {
  height: 5rem;
  border-bottom: 1px solid $mercury;
  &__main-container {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 11.25rem;
  }

  &__logo-container {
    height: 3rem;
    margin: 1rem 0;
    &--link {
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__logo {
    margin-right: 10px;
  }

  &__slogan {
    height: 25px;
  }
  &__link-container {
    display: flex;
    &--text {
      font-family: Inter;
      font-size: 15px;
      font-weight: 500px;
      padding: 0 1rem 0 1rem;
    }
  }
}
